* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Neo Sans Pro';
  font-weight: normal;
}

.content {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.main-block-carousel {
  width: 600px;
  height: 400px;
  margin: 20vh auto;
  overflow: hidden;
  box-shadow: 0 0 1px 1px black;
  i {
    margin: auto;
    font-size: 32px;
    cursor: pointer;
    &:hover {
      color: orangered;
    }
  }
}

.carousel {
  display: inline-block;
  width: 400px;
  overflow: hidden;
  text-align: left;
}

.all-images {
  clear: both;
  width: 2016px;
  img {
    display: inline-block;
    width: 400px;
    height: 400px;
  }
}

.left-button {
  position: relative;
  float: left;
  margin: 185px auto;
  width: 100px;
}

.right-button {
  position: relative;
  float: right;
  margin: 185px auto;
  width: 100px;
}